<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to People!
  </h1>

  <div>
    <h3>Add Person</h3>
    <input [(ngModel)]="name$"/>
    <button (click)="addPerson()">Add</button>
  </div>

  <ul>
    <li *ngFor="let person of people$">
     <div>
       <input [(ngModel)]="person.name"/>
       <button (click)="updatePerson($event, person)">Update</button>
       <button (click)="deletePerson($event, person.id)">Remove</button>
     </div> 
    </li>
  </ul>

</div>

